.footer {
    position: relative;
    top: 110vh;
    bottom: 20%;
    right: 50%;
    left: 0;
    background-color: #EEE4DA;
    .nav_footer li{
        padding-bottom: 10%;
        list-style-type: none;
    }
    h3 {
        text-align: center;
        text-transform: uppercase;
        color: #AC8F78;
        padding: 5% 0 5% 0;
    }
    footer {
        display: flex;
        justify-content: space-around;
        margin-top: 5%;
        
        section {
            width: 20%;
            i:active, i:hover, i {
                text-decoration: none;
                color: black;
            }
        }
        
        span {
            font-size: 20px;
            padding-bottom: 5%;
        }
    }
    .contact_icons {
        display: flex;
        justify-content:space-evenly;
    }
  

    .ellipse {
        display: flex;
        background-color: #F5ECE3;
        border-radius: 50%;
      width: 36px;
      height: 36px;
      align-items: center;
      justify-content: center;
      i {
        color: #AC8F78;
      }
    }
}
@media (max-width: 630px) {
    .footer {
        top: 100vh;
        footer {
        display: block;
        align-items: center;
        text-align: center;
        margin: 0 0 10% 25%;
        width:300%;
    }} 
    .nav_section, .products_section, .contacts_section p {
        display: none;
    }
    .company_section {
        width: 100%;
    }
}
